body {
    font-family: sans-serif;
}
header{
    background-color: lightblue;
}
header a{
    background-color: brown;
    text-decoration: none;
    color: white;
    padding: 5px;
    marging: 5px;
    border-radius: 76px 
}
h1{
    color: blue;
    background-color: lightblue
}
footer p{
    border: 3px solid orange
}
nav{
    background-color: green;
}
.bam{
    background-color: aquamarine;
    border-radius: 122px;
    text-align: center;
}
main{
    padding: 15px;
}
h2{
    color: blueviolet;
}
p{
    font-size: 29px;
}
